.blog-container {
    width:95%;
    margin: 0 auto;
}
@media (min-width:851px){
    .blog-right-container {
        padding-top: 60px;
        width:100%;
        display: inline-block;
        margin:0 auto;
    }
}
@media (max-width:850px){
    .blog-right-container {
        padding-top: 60px;
        width:750px;
        display: inline-block;
        margin:0 auto;
    }
}
.blog-header {
    display: inline-block;
}
.blog-header-content{
    display: inline-block;
    margin-top: 20px;
}
#blog-header-p1{
    font-size: 25px;
}
#blog-header-p2{
    font-size: 15px;
}
.blog-intro {
    display: inline-block;
    text-align: center;
    width:300px;
    margin-left: calc(100% - 720px);
    background-color: lightsteelblue;
}
.blog-section{
    margin-top: 5%;
}

.blog-section a{
    text-decoration:none;
    color:#646464;
}

.blog-tabs-btn{
    width:120px;
    height:70px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-right: 1px;
    border-bottom: 0px;
    cursor: pointer;
}

#blog-tabs-clicked {
    box-shadow: 3px 3px;
    transform: translate(-2px, -2px);
}

.blog-tabs-content{
    position: relative;
    min-height:600px;
    border-top: 1px solid gray;
}

.prod-about{
    width:90%;
    margin: 40px auto;
}

.prod-about-title{
    text-align: center;
    font-size: 35px;
    border-bottom: 1px solid black;
    margin-left: 150px;
    margin-right:150px;
}

.prod-about-content{
    width: 400px;
    height:300px;
    margin:50px auto;
    
}

.prod-about-content img{
    width: 100%;
    height:100%;
}

.prod-works{
    margin:20px 30px;
}
.works-wrapper{
    float:left;
    margin:10px;
    text-align: center;
}

.works-thumb{
    min-width:210px;
    max-width: 300px;
    width:21vw;
    min-height:calc(210px * 4 / 3);
    max-height:calc(300px * 4 / 3);
    height:calc(21vw * 4 / 3 );
}

.works-thumb img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.works-content{
    border : 1px solid gray;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.works-content button{
    margin:5px;
}

.works-content p{
    font-size: 20px;
    margin-bottom: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.bid-wrap {
    position: relative;
    display: inline-block;
    min-width:210px;
    max-width: 300px;
    width:21vw;
    min-height:calc(210px * 4 / 3);
    max-height:calc(300px * 4 / 3);
    height:calc(21vw * 4 / 3 );
}

.bid-thumb {
    width:100%;
    height:100%;
}

.bid-wrap-show {
    position: absolute;
    top:0;
    left:0;
    background-color: tomato;
    opacity: 80%;
    width:100%;
    height:100%;
    text-align: center;
}

.bid-icon{
    height: 100%;
}

.blog-bid-content {
    display: inline-block;
    margin-left:30px;
}

.blog-bid-content p:nth-child(1){
    font-size: 25px;
}
.blog-bid-content p:nth-child(2){
    font-size: 20px;
}

.blog-bid-content button {
    width:100px;
    height:50px;
}


.bid-wrap-show-p{
    position: absolute;
    top:50%;
    left:50%;
}

.event-open-btn{
    position: absolute;
    top:80%;
    left:calc(50% - 100px);
    width:200px;
    height:70px;
    border: 2px solid wheat;
    text-align: center;
    line-height: 70px;
    font-size: 25px;
    border-radius: 20px;
    background-color: thistle;
    cursor: pointer;
}

.event-modal-background{
    position:fixed;
    background-color: black;
    top:0;
    left:0;
    opacity: 80%;
    width:100%;
    height:100%;
    z-index: 500px;
}

.event-modal-container{
    position:fixed;
    top:20px;
    left: calc(50% - 450px);
    width:900px;
    border-radius: 30px;
    background-color: white;
    z-index:1000px;
}

.event-modal-wrapper{
    width:80%;
    margin:40px auto;
}

.contest-item-wrapper{
    min-width:300px;
    max-width:400px;
    width:30vw;
    float:left;
    margin: 20px;
    cursor: pointer;
}

.contest-item-title{
    font-size: 20px;
    font-weight: bold;
    height:80px;
    text-align: center;
    border: 4px solid black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: none;
}

.contest-item-title p{
    margin-top: 20px;
}

.contest-item-img{
    width:30vw;
    min-width:300px;
    max-width:400px;
    height:calc(30vw * 4 /3);
    min-height:calc(300px * 4/3);
    max-height:calc(400px * 4/3);
    
}
.contest-item-img img{
    width:100%;
    height:100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#open-modal{
    display: block;
}

#close-modal{
    display: none;
}

.event-modal-btn {
    margin:10px;
    float:right;
    margin-bottom: 30px;
}

.blog-left-intro h1{
    margin-top: 70px;
}