.rank{
    margin-top: 30px;
    text-align: center;
}

.loadmore-list {
    min-height: 200px;
}

.h1-type-title{
    text-align: left;
}

.type-logo {
    float:left;
}

.container-vote {
    display: inline-block;
    width : 100%;
    border-radius: 5px;
    background-color: brown;
}

.container-vote-header {
    text-align: center;
    line-height: 50px;
    width: 70%;
    height: 50px;
    margin: 2rem auto;
    border-radius: 3px;
    background-color: white;
}

.container-vote-section {
    margin-left: 5%;
    display: inline-block;
    width:90%;
}
.item-vote-container{
    margin: 0 auto;
}

.type-logo {
    height:70px;
}

@media (max-width:700px){
    .item-vote-wrap{
        position: relative;
        display: inline-block;
        margin:1rem;
        width:80vw;
        height:calc(80vw * 4 / 3);
    }
}
@media (min-width:701px){
    .item-vote-wrap{
        position: relative;
        display: inline-block;
        margin:1rem;
        width:30vw;
        height:calc(30vw * 4 / 3);
    }
}
@media (min-width:1201px){
    .item-vote-wrap{
        position: relative;
        display: inline-block;
        margin:1rem;
        width:17vw;
        height:calc(17vw * 4 / 3);
    }
}


.item-vote-img{
    width:100%;
    height:100%;
    border-radius: 20px;
}

.item-vote-wrap:hover .item-vote-show{
    display:block;
}

.item-vote-show{
    display: none;
    position:absolute;
    width:100%;
    height:100%;
    right:0px;
    bottom:0px;
    background-color: gray;
    border-radius: 20px;
    opacity: 80%;
}

#go-detail{
    position:absolute;
    right:10px;
    bottom:10px;
    background-color: white;
    width:30px;
    height:30px;
    text-align: center;
    vertical-align: middle;
    border-radius: 20px;
}

#go-detail-icon {
    margin-top: 5px;
}


.layer {
    display: block;
    position: fixed;
    _position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.layer .dimBg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .5;
    filter: alpha(opacity=50);
}

.layer .pop-layer {
    display:block;
}

.pop-layer {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 410px;
    height: auto;
    background-color: #fff;
    border: 5px solid #3571B5;
    z-index: 10;
  }

  .pop-layer .pop-container {
    padding: 20px 25px;
  }

  .show-more-img {
    width:50px; 
    height:80px; 
    float:right;
    margin-right:5%;
    cursor: pointer;
  }

  .items {
    display: inline-block;
    width:90%;
    margin-left: 5%;
}
@media (max-width:700px){
    .item{
        display: inline-block;
        
        margin:1rem;
        width:80vw;
        height:calc(80vw * 4 / 3);
    }
    .item img {
        width:80vw;
        height:calc(80vw * 4 / 3);
    }
}
@media (min-width:701px){
    .item{
        display: inline-block;
        
        margin:1rem;
        width:30vw;
        height:calc(30vw * 4 / 3);
    }
    .item img {
        width:30vw;
        height:calc(30vw * 4 / 3);
    }
}
@media (min-width:1201px){
    .item{
        display: inline-block;
        
        margin:1rem;
        width:17vw;
        height:calc(17vw * 4 / 3);
    }
    .item img {
        width:17vw;
        height:calc(17vw * 4 / 3);
    }
}

.ant-card-cover img{
    border-radius: 20px;
}

.main-banner-container {
    
    width:100%;
    height:400px;
    background:url('../../../assets/Banner.jpg');
    background-attachment: local;
    background-size:cover;
    mask-image:linear-gradient(to bottom, rgba(0,0,0,1),rgba(0,0,0,0.2))
}
@media(min-width:1100px){
    .main-banner-sketch{
        background-color: white;
        width:300px;
        height:300px;
        margin:50px;
        border-radius:20px;
        float:left;
        transform:rotate(10deg);
    }
}
@media(max-width:1099px){
    .main-banner-sketch{
        display: none;
    }
}

@media(min-width:1100px){
    .main-banner-text{
        width:60%;
        line-height: 70px;
        padding-top: 150px;
        margin:0 auto;
        font-size: 30px;
        font-weight: bold;
        color: white;
        text-align: center;
        float:left;
        transform: rotate(-7deg);
    }
}
@media(max-width:1099px){
    .main-banner-text{
        width:100%;
        line-height: 70px;
        padding-top: 150px;
        font-size: 27px;
        font-weight: bold;
        color: white;
        text-align: center;
        transform: rotate(-7deg);
    }
}

.rank-container{
    width:40%;
    margin:0 auto;
}

.rank-item{
    height:60px;
    margin:5px;
    border-bottom: 1px solid gray;
}

.rank-item:last-child{
    border-bottom: 0;
}

.rank-img{
    float:left;
    width:40px;
    height:40px;
}

.rank-content {
    font-size: 20px;
    line-height: 40px;
}