.comment-form{
    text-align: left;
    border:1px solid black;
    border-radius: 10px;
    margin-top: 1rem;
}
.comment-nickname{
    font-size: large;
}

.comment-content{
    margin-left: 40px;
}

.comment-action{
    text-align: end;
}