.like-dislike-span {
    
}

.like-dislike-span button {
    width:150px;
    height:50px;
    margin: 1rem;

    border-radius: 5px;
}

.like-button {
    border : 1px solid greenyellow;
    border-color: greenyellow;
}

.like-button:hover {
    background-color: greenyellow;
}

.dislike-button {
   
    border : 1px solid tomato;
    border-color: tomato;
 
}

.dislike-button:hover {
    background-color: red;
}

#liked-checked {
    background-color: greenyellow;
}

#disliked-checked {
    background-color: red;
}