@media (min-width:1200px){
    .profile-content {
        position: fixed;
        right : 5%;
        top : 50px;
        background-color: white;
        width:300px;
        font-size: 1rem;
        color:black;
        text-align: center;
        border-radius: 20px;
    }
}

@media (max-width:1199px){
    .profile-content {
        display: none;
    }
}

.profile-header {
    font-size: 30px;
    margin:20px;
    border-top: 1px solid gray;

}

.profile-span {
    font-size: 20px;
    margin:10px;
}

.container-detail {
    position: fixed;
    top: 20px;
    right: 20px;
    left: 20px;
    height: 3000px;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    background: #FFF;
    overflow : scroll;
}

.detail-header {
    text-align: center;
    font-size: 50px;
    padding: 1rem;
    margin: 20px auto;
    border-bottom: black dashed 1px;
}

.detail-span{
    font-size: 20px;
    text-align: end;
    margin-right:2rem;
}

.detail-content{
    padding-top:30px;
    padding-bottom: 30px;
}

.vote-btn{
    width:150px;
    height:70px;
    font-size: 30px;
    margin: 20px auto;
    background-color: wheat;
    text-align: center;
    line-height: 70px;
    border-radius: 20px;
    cursor: pointer;
}