@import '~antd/dist/antd.css';

#header {
    height: 66px;
    z-index : 40;
    top: 0px;
    border-bottom: 0.01px solid powderblue;
    background-color: white;
}
@media(min-width:900px){
    .header-a{
        text-align: center;
        font-weight: bold;
        line-height: 35px;
        margin-top:14px;
        font-size: 20px;
        margin-left:20px;
        margin-right:20px;

        float:left;
}
}
@media(max-width:899px){
    .header-a{
        display: none;
    }
}

.main-logo{
    width: 150px;
    float :left;
    margin-left: 20px;
}


.header-title a{
    font-size:20px;
    font-weight: bold;
}

.logged-out, .register {
    margin-right: 20px;
    margin-top: 14px;
}

.logged-out a, .register a{
    font-size:16px; 
    font-weight:normal;
    padding:6px 0px 6px 12px;
}

.pull-right {
    float : right;
}

.navbar-button {
    display: inline-block;
    width:100px;
    height:40px;
    background-color: powderblue;
    border-radius: 30px;
    font-size: 20px;
    font-style: bold;
    text-align: center;
    padding-top: 5px;
}

.nav-bar-profile{
    margin-top: 8px;
    font-size: 25px;
    padding: 2px;
    cursor: pointer;
}

@media(max-width:899px){
    .row-log{
        display: none;
    }
}

@media(min-width:900px){
    .drawer{
        display: none;
    }
}

@media(max-width:899px){
    .drawer{
        display: block;
        margin:17px;
        float:right;
    }
}

.message-modal-background{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: gray;
    opacity: 80%;
    z-index: 1000;
}
.message-container {
    position:fixed;
    width:700px;
    height:700px;
    top:calc(50% - 350px);
    left:calc(50% - 350px);
    text-align: center;
    border-radius: 20px;
    background-color: wheat;
    z-index: 1000;
}

.message-form{
    margin:10px;
    max-height: 600px;
    border-radius: 20px;
    border:1px solid black;
}

.message-table{
    display: block;
    width: 100%;
    border-collapse:collapse;
    overflow: hidden;
}

.message-thead{
    float:left; 
    width:100%;
    border-bottom:1px solid black;
}
.message-thead tr{
    display:table;
    width:100%;
}

.message-thead th:nth-child(1){
    width:20%;
}
.message-thead th:nth-child(2){
    width:40%;
}
.message-thead th:nth-child(3){
    width:30%;
}
.message-thead th:nth-child(4){
    width:10%;
}

.message-tbody{
    float:left;
    width:100%;
    height:560px;
    overflow-y: auto; 
    overflow-x: hidden;
}

.message-tbody tr{
    display:table;
    width:100%;
    border-bottom: 0.5px solid black;
}

.message-tbody tr:last-child{
    border-bottom: none;
}
.message-tbody td{
    text-align:center;
}

.message-tbody td:nth-child(1){
    width:20%;
}
.message-tbody td:nth-child(2){
    width:40%;
}
.message-tbody td:nth-child(3){
    width:30%;
}
.message-tbody td:nth-child(4){
    width:10%;
}
.ant-modal-content{
    z-index: 2000;
}