@import '~antd/dist/antd.css';

#header {
    position: fixed;
    width:100%;
    height : 100px;
    z-index : 40;
    top: 0px;

    background-color: white;
}


@media(min-width:900px){
    .header-a{
        text-align: center;
        font-weight: bold;
        line-height: 35px;
        margin-top:14px;
        font-size: 12px;
        margin-left:40px;
        margin-right:40px;
        color:black;
        font-style: oblique;
        float:left;
}
}
@media(max-width:899px){
    .header-a{
        display: none;
    }
}

#header-clicked{
    color: #f85272;
}

#header-a{
    color:black;
}

.main-logo{
    width: 150px;
    float :left;
    margin-left: 10px;
}

.header-title{
    display: inline-block;
}
.header-title a{
    font-weight: bold;
}


.logged-out a, .register a{
    font-size:16px; 
    font-weight:normal;
}

.pull-right {
    float : right;
}

.navbar-button {
    display: inline-block;
    width:100px;
    height:40px;
    line-height: 40px;
    border-radius: 10px;
    font-size: 10px;
    font-style: bold;
    text-align: center;
    color : black;
}


.nav-bar-profile{
    margin-top: 8px;
    font-size: 25px;
    padding: 4px;
    cursor: pointer;
}

@media(max-width:899px){
    .row-log{
        display: none;
    }
}

@media(min-width:900px){
    .drawer{
        display: none;
    }
}

@media(max-width:899px){
    .drawer{
        display: block;
        margin:17px;
        float:right;
    }
}

.category-show {
    display: none;
}

.category:hover .category-show{
    position:absolute;
    display: block;
    bottom:-1;
    left:0; 
    width:100%;
    background-color:white;
}


.ant-btn-primary{
    background-color: #f85272;
    border-color: #f85272;
}
.ant-btn-primary:hover{
    background-color: #f85272;
    border-color: #f85272;
}

.message-modal-background{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: gray;
    opacity: 80%;
    z-index: 1000;
}
.message-container {
    width:350px;
    max-height: 200px;
    border-radius: 20px;
    background-color: white;
    z-index: 1000;
    overflow-y: auto;
    font-family: font2;
}
.message-container::-webkit-scrollbar{
    width: 3px;
}
.message-container::-webkit-scrollbar-track{
    background-color: transparent;
}
.message-container::-webkit-scrollbar-thumb{
    border-radius: 3px;
    background-color: gray;
}

.message-test::-webkit-scrollbar-button{
    width:0;
    height:0;
}


.message-head-wrapper{
    text-align: center;
}

.message-head {
    display: inline-block;
    width:148px;
    height:50px;
    font-size: 20px;
    line-height: 50px;
    border-right: 1px solid #e5e5e5;
}

.message-head2{
    display: inline-block;
    width:200px;
    height:50px;
    font-size: 20px;
    line-height: 50px;
}

.message-head-content{
    width:100%;
    height:50px;
    font-size: 15px;
    line-height: 50px;
    border-bottom: 1px solid #e5e5e5;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.message-content-span {
    font-size: 15px;
    margin-right: 20px;
    text-align: right;
}

.message-content-content {
    width:90%;
    margin: 0 auto;
    font-size: 18px;
}

@keyframes showMessage {
    from {
        height:0px;
    }
    to {
        height:100%;
    }
}

.message-content-show{
    animation-name: showMessage;
    animation-duration: 2s;
}

